<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <!-- <h6>Please Register here ...</h6> -->
                </div>
                <form [formGroup] = "signUpForm" (ngSubmit)="signUp()" >
                      <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" formControlName = "fullname" class="form-control" id="name" aria-describedby="emailHelp">
                        <div class="text-danger" *ngIf = "f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)">
                          <div *ngIf  ="f.fullname.errors && f.fullname.errors.required ">
                              Fullname is required
                          </div>
                          <div *ngIf  ="f.fullname.errors && f.fullname.errors.minLength ">
                              Fullame must be at least 4 character long.
                          </div>
                          <div *ngIf  ="f.fullname.errors && f.fullname.errors.pattern ">
                              Fullname pattern is not valid
                          </div>
                        </div>
                     </div>
                      <div class="mb-3">
                        <label for="mob" class="form-label">Mobile Number</label>
                        <input type="number" formControlName="mobile" class="form-control" id="mob" aria-describedby="emailHelp">
                        <div  class = "text-danger" *ngIf="f.mobile.invalid && (f.mobile.touched || f.mobile.dirty)">
                          <div *ngIf = "f.mobile.errors && f.mobile.errors.required">
                            Mobile number is required
                          </div>
                          <div *ngIf = "f.mobile.errors && f.mobile.errors.pattern">
                            Mobile number must have 10 digit
                          </div>
                      </div>
                        <!-- <span class="text-danger" *ngIf = "signUpForm.controls['mobile'].dirty && signUpForm.hasError('required','mobile')">Mobile no. is required </span> -->
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email ID</label>
                      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div class = "text-danger" *ngIf="f.email.invalid && (f.email.touched || f.email.dirty)">
                          <div *ngIf = "f.email.errors && f.email.errors.required">
                            email is required
                          </div>
                          <div *ngIf = "f.email.errors && f.email.errors.pattern">
                            email pattern is not valid
                          </div>
                      </div>
                      <!-- <span class="text-danger" *ngIf = "f.email && f.email.invalid && f.email.touched">Email is invalid</span> -->
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                      <div  class = "text-danger" *ngIf="f.password.invalid && (f.password.touched || f.password.dirty)">
                        <div *ngIf = "f.password.errors && f.password.errors.required">
                          password is required
                        </div>
                      </div>
                      <!-- <span class="text-danger" *ngIf = "signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">Password is required </span> -->

                    </div>
                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" [disabled] ="signUpForm.invalid" class="btn btn-primary">Sign Up</button>
                  </form>
                 <span class="mt-2">Already have an account? <a routerLink="/login">Login here!</a> </span> 

            </div>
        </div>
    </div>
</div>